@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Successfully Logged in! Welcome!</h1>
        <asp:Label ID="" runat="server"></asp:Label>
    </div>
</body>
</html>
